@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.plusJakartaSans {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.spaceMono {
  font-family: "Space Mono", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.lexend {
  font-family: "Lexend", sans-serif;
}

.ptSans {
  font-family: "PT Sans", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* MultipleDetailsForm.css */

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out,
    margin 0.3s ease-in-out;
}

.accordion-content.open {
  max-height: 1000px; /* Adjust the max height as needed */
  padding-top: 10px; /* Adjust the padding as needed */
  padding-bottom: 10px; /* Adjust the padding as needed */
  margin-top: 10px; /* Adjust the margin as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
}

/* Rotate Image */
.rotate-animation {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* new signup modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-viewer {
  width: 100%;
  height: 100%;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
}
